.iconLogout {
  mask-image: url("right-from-bracket-solid.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: url("right-from-bracket-solid.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  width: 1.5rem;
  height: 1.5rem;
}
